@import "scss/config";

.block {
  @include make-spacer(mb, 4);
  @include flex($direction: column);

  overflow: hidden;
}

.item {
  @include font-size(rem(20px));
  @include make-spacer('my', 2);

  transition: var(--default-transition);

  @include media-breakpoint-up(sm) {
    @include font-size(rem(24px));
  }

  &.active {
    color: var(--color-accent);
  }

  &:hover {
    transform: translateX(rem(20px));
  }
}

:global {

  .active {
    color: var(--color-accent);
  }
}
