@import "scss/config";

.titles {
  @include make-spacer('mx', auto);
  @include make-spacer('mb', 6);

  max-width: rem(1100px);
  text-align: center;

  & > * {
    @include make-spacer('mb', 4);

    &:last-child {
      @include make-spacer('mb', 0);
    }
  }
}

.list {
  @include make-spacer('mb', 6);

  li {
    @include make-spacer('mb', 2);
    @include make-spacer('pl', 4);

    position: relative;

    &::before {
      @include size(rem(5px));

      position: absolute;
      top: rem(10px);
      left: 0;
      background-color: var(--color-accent);
      border-radius: 50%;
      content: '';
    }

    &:last-child {
      @include make-spacer('mb', 0);
    }
  }
}

.map {
  @include make-spacer('mt', 10);
  @include make-spacer('mb', 6);
  @include make-spacer('mx', auto);

  max-width: rem(800px);
  min-height: rem(150px);
  overflow: hidden;
}

.wrapper {
  @include make-spacer('mt', 10);
  @include flex(center, center);
}
