@import "scss/config";

.block {
  @include make-spacer('mb', 10);
  @include make-spacer('mb', 20, lg);

  text-align: center;
}

.hr {
  @include make-spacer('mx', auto);
  @include make-spacer('mt', 4);
  @include size(rem(100px), rem(2px));

  background-color: var(--color-accent);
  border: 0;
}

.description {
  @include make-spacer('mx', auto);
  @include make-spacer('mt', 4);

  max-width: rem(600px);
}
