@import "scss/config";

.block {
  display: grid;
  grid-template-columns: repeat(3, rem(40px));
  gap: rem(8px);
}

.link {
  @include flex(center, center);
  @include size(rem(40px));

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
}

.svg {
  @include size(100%);

  display: block;
  border: rem(1px) solid currentColor;
}
