:root {
  --color-white: #fff;
  --color-black: #000;

  --color-accent: #44bbfe;
  --color-secondary: #262626;
  --color-light: #fefefe;
  --color-light-900: #f7f7f7;
  --color-dark: #1c1c1c;

  --color-title: #363636;
  --color-text: #252525;

  --color-border: #dfdfdf;
}
