:root {
  --min-width: 20rem;
  --max-width: 85.375rem;

  --default-transition: all 0.3s;
  --grid-outher: 1.06rem;

  --nav-height: 4.375rem;

  @include media-breakpoint-up(sm) {
    --nav-height: 6.25rem;
  }
}
